{% extends "shop/base.html" %}

{% block title %}
Customer Login
{% endblock %}



{% block content %}
<style>
    .errorlist {
    color: red;
    }
</style>
<h1>Login</h1>


{% for message in messages %}
    <div class="alert alert-success" style="color:red;">
        <a class="close" href="#" data-dismiss="alert">×</a>
           {{ message }}
    </div>
{% endfor %}

<form method="post" class="order-form">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input type="submit" value="Login"></p>
    <p style="margin-top:120px">don't have account? <a href="{% url 'customer:registration' %}">Sign Up here</a></p>
</form>

{% endblock %}